* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.rectangle {
  width: 12rem;
  height: 6rem;
  position: absolute;
}
.blue {
  background-color: aqua;
  top: 0.5rem;
  left: 0.5rem;
}
.orange {
  background-color: orange;
  top: 4rem;
  left: 4rem;
}
