* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 20rem;
  height: 17.8rem;
  margin: 20vh auto;
}
.box {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: red;
}
.white {
  background-color: white;
}
